@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #101010;
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 400px;
  margin: 0 auto;
}
hr {
  width: 100%;
  border: none;
  background-color: #999;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}
header {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}
header h1,
h4 {
  margin: 0;
}
header h1 {
  margin-top: 50px;
  margin-bottom: 5px;
}
header h4 {
  color: #999;
  margin-bottom: 5px;
}
header .aside-soc {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
header .aside-soc a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #1c1c1c;
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  margin: 0 5px;
  font-size: 14px;
}
header .aside-soc a:hover {
  color: #fff;
}
header .name a {
  font-size: 12px;
  color: #999;
  transition: 0.3s;
  font-weight: bold;
  text-decoration: underline;
}
header .name a:hover {
  color: #fff;
}

.main {
  font-family: "Comfortaa";
  text-align: center;
}
.main h3 {
  font-size: 16px;
  margin: 0;
  margin-bottom: 20px;
  text-decoration: underline;
}
.main .wrapper_work .site {
  display: none;
  margin: 10px 5px;
  font-size: 13px;
}
.main .wrapper_work .site a {
  color: #999;
  transition: 0.3s;
}
.main .wrapper_work .site a:hover {
  color: #fff;
}
.main #paginator {
  color: #999;
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px;
}
.main #paginator > span {
  padding: 5px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
.main #paginator > span:hover {
  border-bottom: 2px solid #fff;
}
.main .paginator_active {
  color: #fff;
}
